body {
    font-family: "Inter", sans-serif;
    background-color: #121212;
    color: #ffffff;
    padding: 10px;
    width: 220px;
}

label {
    display: flex;
    align-items: center;
    width: 180px;
    gap: 8px;
    margin: 10px 0;
}

label:hover {
    color: #999;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox .checkmark {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #f50;
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
}